html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid: 1fr / 1fr 3fr;
    background-color: rgb(245, 245, 245);
}

#buttons {
    align-self: center;
    margin: 1em 0 1em 1em;
    display: flex;
    gap: 1.5em;
}

#buttons button {
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    height: 1.8em;
    width: 8.5em;
    border-radius: 25px;
    font-size: 1em;
}

#buttons button::before {
    content: '+  ';
    margin-right: 0.5em;
}

#buttons button:hover {
    cursor: pointer;
}

#sidebar {
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgb(236, 236, 218);
    box-shadow: rgb(54, 54, 54, 90%) 0.3em 0 0.5em;
    position: relative;
}

#display {
    background-color: rgb(245, 245, 245);
    grid-area: 1 / 2 / 2 / 3;
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#projects p {
    font-size: 1.7em;
    padding-left: 0.8em;
    margin-right: 1em;
}

#projects p:hover {
    cursor: pointer;
    background-color: rgb(172, 172, 172);
}

#filters {
    margin-left: 1em;
    margin-top: 1.5em;
    font-size: 1.4em;
}

#filters > p:hover {
    cursor: pointer;
    
}

#sidebar > h1 {
    font-size: 2.5em;
    margin-left: 0.5em;
}

#display > div {
    background-color: rgb(224, 224, 221);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgb(54, 54, 54, 90%) 0.3em 0.3em 0.5em;
}

#topdisplay {
    display: grid;
    grid: 1fr / 10fr 4fr 4fr 1.5fr 1.5fr;
    margin-left: 2em;
    margin-right: 2em;
}

#bottomdisplay {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

#bottomdisplay > p:first-child {
    margin-bottom: -0.5em;
    margin-top: 0em;
}

#taskForm, #projForm, #editForm {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#taskDialog, #editDialog {
    width: 30vw;
}

#taskForm label, #projForm label, #editForm label {
    position: relative;
    top: 0.5em;
}

#addTask, #addProj, #editTask {
    width: 60%;
    height: 3em;
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color: rgb(57, 182, 57);
    align-self: center;
    margin-top: 1em;
}

#editProject + label {
    align-self: center;
}

#editbtn, #delbtn {
    align-content: center;
    text-align: center;
}

#editIcon, #delIcon {
    height: 2em;
}

#editbtn:hover, #delbtn:hover {
    cursor: pointer;
}

#sidebar > a {
    text-decoration: none;
    color: black;
    font-style: italic;
    position: absolute;
    bottom: 0;
}

#display > h1 {
    display: flex;
    gap: 1em;
}

#delProjIcon {
    width: 0.7em;
    position: relative;
    align-self: center;
}